.task {
  position: relative;
  padding: var(--spacing-large) var(--spacing-extra-large) var(--spacing-medium);

  .taskTitle {
    font-size: var(--font-size-large);
  }

  .taskDescription {
    margin-top: var(--spacing-small);
  }

  .taskDate {
    opacity: .5;
  }

  .taskCheck {
    position: absolute;
    top: var(--spacing-default);
    right: var(--spacing-large);

    width: 40px;
    height: 40px;

    border-radius: 100px;
    background-color: var(--font-color-black);
    cursor: pointer;

    &.checked {
      background-color: var(--font-color-white);

      &:after {
        opacity: 1;
      }
    }

    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 30%;
      left: 21%;

      width: 17px;
      height: 7px;
      border-bottom: solid 4px var(--font-color-black);
      border-left: solid 4px var(--font-color-black);

      transform: rotate(-45deg);
    }

    &:hover {

      &:after {
        opacity: .5;
        border-color: var(--font-color-white);
      }
    }
  }
}

.task {
  border-radius: var(--border-radius-default);
  border-width: 3px;
  border-style: solid !important;
  border-color: transparent;

  transition: box-shadow 0.1s ease-in-out;

  .taskCheck {
    transition: box-shadow 0.1s ease-in-out;
  }

  &.outlined {
    background-color: transparent !important;
    color: var(--font-color-white) !important;

    .taskCheck {
      border-width: 3px;
      border-style: solid;
      background-color: transparent !important;
      
      &:after {
        border-color: var(--font-color-white) !important;
      }

    }
  }

  &.yellow {
    background-color: var(--color-yellow);
    color: var(--font-color-black);

    &.outlined {
      border-color: var(--color-yellow);

      .taskCheck {
        border-color: var(--color-yellow);
      }
    }
  }

  &.beige {
    background-color: var(--color-beige);
    color: var(--font-color-black);

    &.outlined {
      border-color: var(--color-beige);

      .taskCheck {
        border-color: var(--color-beige);
      }
    }
  }

  &.red {
    background-color: var(--color-red);
    color: var(--font-color-black);

    &.outlined {
      border-color: var(--color-red);

      .taskCheck {
        border-color: var(--color-red);
      }
    }
  }

  &.green {
    background-color: var(--color-green);
    color: var(--font-color-black);

    &.outlined {
      border-color: var(--color-green);

      .taskCheck {
        border-color: var(--color-green);
      }
    }
  }

  &.blue {
    background-color: var(--color-blue);
    color: var(--font-color-white);

    &.outlined {
      border-color: var(--color-blue);

      .taskCheck {
        border-color: var(--color-blue);
      }
    }
  }

  // &:hover {
  //   box-shadow: 2px 5px 0 #000;

  //   .taskCheck {
  //     box-shadow: inset 2px 5px 0 #000;
  //   }
  // }

}