.main {
  padding: var(--spacing-extra-large) var(--spacing-large);
}

.tasksListWrapper {
  margin-bottom: var(--spacing-extra-large);
}

@media (min-width: 701px) {
  .main {
    max-width: var(--page-width);
    margin: auto;
  }
}
